/* Input form *//* Input form *//* Input form */

#input1{
    width: 100%;
    padding:20px;
}

.bodycolor{
    background-color: #fffff2;
}

#btna {
    color:white;
    background-color:#C5E7E5;
    padding: 5px 10px;
    text-decoration:none;
    
}
#btna:hover{
    letter-spacing: 0.25em;
    opacity: 0.7;
}
.dropdown .btn:hover, .dropright .btn:hover{
    opacity: 0.7;
}

#clock{
    text-decoration: none;
}
button#dropdownMenuButton{
    background-color: #C5E7E5;
}
/* To do task *//* To do task *//* To do task */


.space {
    margin-top: 10px;
    margin-bottom: 20px; 

}

.icons{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .icons {
        flex-direction: row!important;
        display: flex!important;
        justify-content: flex-end !important;
        bottom: -5px;
    }
    .boxes{
      position: relative;
      bottom: -82px;
      z-index: 2;
    }
}

.iconmb{
    margin-bottom: 20px;
    margin-left: 20px;
}

/*nav sidebar*/
.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #2c6d42;
    color: white;
    letter-spacing: 0.3ch;
    width: 100%;
}
.navbar{
    background-color: #3A9057;
    z-index: 1050;
    transition: width 300ms ease;
    overflow: hidden;
}
.navbar-nav{
    align-items: center !important;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-item{
    white-space: nowrap;
}
.nav-link{
    align-items: center !important;
    background-color:#3A9057;
    color: black;
    height: 3rem;
    transition: background-color 300ms, color 300ms;
}

.link-text{
    margin-left: 1rem;
    display: none;
}
.nav-link:hover{
    background-color: #2c6d42;
    color: white;
}
.logo i{
    transform: rotate(0deg);
    transition: transform 600ms;
}
.navbar:hover .logo i{
    transform: rotate(-180deg);
}
.profile{
    height: 8rem;
}
.profile img{
    border-radius: 50%;
    width: 4rem;
    transition: width 300ms;
}
/*When smaller than Medium screen*/
@media only screen and (max-width: 767px){
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
        justify-content:space-evenly !important;
    }
    .logo, .profile img{
        display: none;
    }
    .nav-item{
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .navbar-nav {
        flex-direction: row !important;
        height: 100%;
        width: 100%;
    }
    .nav-link {
        justify-content: space-evenly !important;
        height: 100%;
    }
    .nav-link i{
        margin-left:0;
    }
    .main{
        margin-top: 8rem;
    }
}
/*When larger Medium screen*/
@media only screen and (min-width: 768px){
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100% ;
    }
    .nav-item, .logo{
        width: 100%;
    }
    .navbar:hover {
        width: 11rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo .link-text{
        padding-left: 1rem;
    }
    .navbar:hover .profile img{
        width: 8rem;
    }
    .nav-link i{
        margin-left:2rem;
    }
    .main {
        padding-left: 115px !important;
    }
}

