/* Input form *//* Input form *//* Input form */

#input1{
    width: 100%;
    padding:20px;
}

.bodycolor{
    background-color: #fffff2;
}

#btna{
    color:white;
    background-color:cornflowerblue;
    padding: 5px 10px;
    text-decoration:none;
    
}
#btna:hover{
    letter-spacing: 0.25em;
    opacity: 0.7;
}

/* To do task *//* To do task *//* To do task */


.space {
    margin-top: 10px;
    margin-bottom: 20px; 

}

@media only screen and (max-width: 767px) {
    .icons {
      flex-direction: row!important;
      justify-content: space-around;
    }
    .boxes{
      position: relative;
      bottom: -45px;
    }
}